.model {
  border: 1px solid black;
  box-shadow: 2px 5px #888888;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.deleteFooter {
  margin-left: 30%;
  margin-top: 10%;
}
